.ButtonNavService{
    height: 58px;
    width: 250px;
    background-color: transparent;
    border: 1.5px solid var(--white);
    border-radius: 20px;

    cursor: pointer;
    transition: 0.4s ease;

    font-family: 'Sora', sans-serif;
    color: var(--white);
}

.ButtonNavService:hover{
    border: 1.5px solid var(--purpleAgency);
}


@media screen and (max-width: 600px){
    .ButtonNavService{
        font-size: 15px;
        width: 180px;
        height: 42px;
    }
}